<div class="row">
	<div class="small-10 columns left">
		<br/>
		<h4>What on earth is Persianpreneur? <h4>
		<p> Entrepreneurship is in our blood. We take pride in running our own businesses and creating something useful for the world. Below is a list of awesome Iranian entrepreneurs doing great things all over the world. We have compiled this list to showcase what Iranians have been able to do worldwide. We realize that a lot of the names in this list live outside Iran, might never have visited Iran, or might be second generation immigrants. Stay tuned, Iran is becoming the next startup phenomena. we believe that we can use them as role models for the generation of Iranians inside who are currently taking the first steps and who are aspiring to build great companies, and some <a href="https://medium.com/iran-startups/" target="_blank">already have!</a></p>
		<h4>Who are we and why did we make this?<h4>
			<p>Iranians are doing great stuff all over the world! We wanted to show the world a different picture of Iranians, something other than what media is trying to make of them. Most of us are using products and services built by Iranians and we don't even know it. You might be surprised by the number of successful Iranian entrepreneurs and investors in Silicon Valley.</p>

			<p>Persianpreneur was inspired by Beggars.co and the wonderful <a href="https://twitter.com/vicky_stoyanova" target="_blank">Victoria Stoyanova</a>. It was built by <a href="https://twitter.com/hadifarnoud" target="_blank">Hadi Farnoud</a> and <a href="https://github.com/hmnhf" target="_blank">Homayoon Hedayati-Fard</a>. Since we didn't know a lot of php, we rewrote the whole thing in Ruby on Rails. By the way, we open sourced everything on <a href="https://github.com/hadifarnoud/persianpreneur" target="_blank">GitHub!</a>
		<h4>What now?<h4>
			<p>We are going to build a network of Iranian entrepreneurs all around the world to help and support each other. Please <%= link_to "get in touch", contact_page_path %> if you are interested to join our network, or you have an idea for Persianpreneur.<p> You can also follow us on twitter <a href="https://twitter.com/persianpreneur" target="blank">@persianpreneur.</a>
			
	</div>
	<%= render partial: 'layouts/side_menu' %>
</div>