<% title "PersianPreneur | Show Admin" %>
<div class="row">
  <div class="small-2 columns">
    <h2><%= @admin.email %></h2>
	</div>
</div>

<div class="row"> 
	<div class="medium-1 columns">
		<%= link_to("Edit", edit_admin_path(@admin), class: "button small radius success") %>
	</div>
	<div class="medium-11 columns">
		<%= link_to("Destroy", "/admins/#{@admin.id}/destroy", method: :delete, class: "button small radius alert", data: {confirm: "Are you sure you want to destroy Admin \"#{@admin.email}\"?" }) %>
	</div>
</div>
