<div class="main">
  <section id="main-section">
    <div class="row">
      <div class="small-12 large-10 columns left main-text">
          <h1 id="title">
            Persianpreneur  
          </h1>
          <div class="intro" id="title-description">
          <h4>
            /ˈpərZHənprəˈno͝or, -ˈnər/ <span class="noun"> noun</span></h4>
          
          <h5>
            <p>An Iranian entrepreneur making the world a better place by solving one problem at a time. <br/>
          
          
            They are hardworking smart people. You can find a list of them below.</p>
          </h5>          
        </div>
        <div id="add-person-button">
          <%= link_to "Add Someone To The List", "#", data: {:'reveal-id' => 'addPersonModal'}, class: ['button small radius'] %>
        </div>
        <div id="addPersonModal" class="reveal-modal" data-reveal>
          <% @person = Person.new %>
          <%= render partial: 'form' %>
          <a class="close-reveal-modal">&#215;</a>
        </div>                    
      </div>
      <%= render partial: 'layouts/side_menu' %>
    </div>
  </section> 
  <section id="content-section">
    <ul class="small-block-grid-1 medium-block-grid-6 large-block-grid-10">
      <%= render partial: 'person', collection: @people %>
    </ul>
  </section>
</div>