.title {
	padding-bottom: 50px;
}

a.fa {
  padding-bottom: 10px;
}

.datetime select:nth-child(1) {
	width: 75px;
}
.datetime select:nth-child(2) {
	width: 70px;
}
.datetime select:nth-child(3) {
	width: 55px;
}