#powerTip {
	white-space: normal;
	width: 250px;
	background:	rgba(0, 0, 0, 0.95);
	border-radius: 0px;
	font: normal 16px/24px "Helvetica Neue", Arial, sans-serif;
	padding: 18px 24px;
	padding-bottom: 20px;
}
div.full-name {
	display: block;
	text-align: left;
	color: white;
	font-size: 18px;
	padding-bottom: 10px;
	text-transform: uppercase;
}
div.description {
	font-size: 14px;
	line-height: 18px;

}
div.links {
	margin-left: 10px;
	margin-bottom: 5px;
	display: block;
	float: right;
}
div.tooltip-person, .links a {
	color: #8A8A8A;
}
div.tooltip-person, .links a:hover {
	color: white;
}
div.description .company {
	font-style: italic;
	margin-bottom: 5px;
}

@media (max-width: 641px) {
	div.image-wrapper {
		text-align: center;
	}
	div.full-name {
		clear: both;
		color: black;
		margin-top: 10px;
		text-align: center;
	}	
	li.tooltip-person {
		color: black;
		padding-bottom: 10px;
		padding-left: 30px;
		padding-right: 30px;
	}
	div.links {
		clear: left;
	}
	div.description {
		clear: left;
	}
	div.links a:hover {
		color: black;
	}
}