#powerTip {
	white-space: normal;
	width: 250px;
	background:	rgba(0, 0, 0, 0.95);
	border-radius: 0px;
	font: normal 16px/24px "Helvetica Neue", Arial, sans-serif;
	padding: 18px 24px;
	padding-bottom: 20px;
}
div.full-name {
	display: block;
	text-align: left;
	color: white;
	font-size: 18px;
	padding-bottom: 10px;
	text-transform: uppercase;
}
div.description {
	font-size: 14px;
	line-height: 18px;

}
img.lazy {
	display: none;
}
div.links {
	margin-left: 10px;
	margin-bottom: 5px;
	display: block;
	float: right;
}
div.tooltip-person, .links a {
	color: #8A8A8A;
}
div.tooltip-person, .links a:hover {
	color: white;
}
div.description .company {
	font-style: italic;
	margin-bottom: 5px;
}

label#person-description-label {
	float: left;
}

span#charcounter {
	float: right;
	display: block;
	font-size: 0.875rem;
	color: #4d4d4d;
	line-height: 1.5;
	opacity: 0.5;
}

span.zero-chars-left#charcounter {
	color: red;
}

@media (max-width: 641px) {
	div.image-wrapper {
		text-align: center;
	}
	div.tipcontent {
		margin: 15px 25px 50px;
		padding: 10px 20px;
		border: 0px solid;
		background: rgba(250, 250, 250, 0.2);
		box-shadow: 0 0 2px rgba(0, 0, 0, 0.35),
								0 85px 180px 0 #fff,
								0 6px 8px -5px rgba(0, 0, 0, 0.85);
	}
	div.full-name {
		clear: both;
		color: black;
		margin-top: 10px;
		text-align: center;
	}	
	li.tooltip-person {
		color: black;
		padding: 0 !important;
	}
	div.links {
		clear: left;
	}
	div.description {
		clear: left;
	}
	div.links a:hover {
		color: black;
	}
}