<footer class="text-left">
	<div class="row">
		<div class="small-12 columns">
			<h6 class="subheader">&copy; 2017 Persianpreneur. Inspired by <a href="http://www.beggars.co/" target="_blank">Beggars.co</a> and sponsored by <a href="http://kamva.ir" target="_blank">Kamva</a> and <a href="http://abarcloud.com" target="_blank">AbarCloud</a></h6>
		</div>
	</div>
</footer>
