<footer class="text-left">
	<div class="row">
		<div class="small-12 columns">
			<h6 class="subheader">&copy; 2017 Persianpreneur. Created by <a href="https://www.linkedin.com/in/hadifarnoud/" target="_blank">Hadi Farnoud</a> and sponsored by <a href="http://kamva.ir" target="_blank">Kamva</a> and <a href="http://abarcloud.com" target="_blank">AbarCloud</a></h6>
		</div>
	</div>
</footer>
