<div class="side-menu">
  <div class="small-2 columns right show-for-large-up">
    <ul class="side-nav">
      <li class="active"><a href="/">Home</a></li>
      <li><%= link_to "About", about_page_path %></li>
      <li><%= link_to "Contact", contact_page_path %></li>
      <li><a href="http://twitter.com/persianpreneur">Twitter</a></li>
    </ul>
  </div>
</div>
