<div class="side-menu">
  <div class="small-2 culomns right">
    <ul class="side-nav">
      <li class="active"><a href="/">Home</a></li>
      <li><%= link_to "About", page_path('about') %></li>
      <li><%= link_to "Contact", page_path('contact') %></li>
      <li><a href="http://twitter.com/persianpreneur">Twitter</a></li>
    </ul>
  </div>
</div>